<a href="https://github.com/NikolayRys/digidentity">Source code</a>
<p>Made by Nikolay Rys</p>

<h3>Bank application</h3>
<form action="/sessions" method="post">
   <fieldset>
     <legend>Log in</legend>
     <p>
       <label for="id">Username</label>
       <select id="id" name="id">
         <% @users.each do |user|%>
           <option value = "<%= user.id %>"><%= user.email %></option>
         <% end %>
       </select>
     </p>
     <p>
       <label for="password">Password</label>
       <input type="password" id="password" name="password" required>
     </p>
     <p>
       <input type="submit" value="Log in">
     </p>
   </fieldset>
</form>
